<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>クラブ選択</title>
  <script>
    function validateForm() {
        var homeClub = document.getElementById("home_club").value;
        var awayClub = document.getElementById("away_club").value;
        var gameDate = document.getElementById("gameDate").value;

        if (homeClub === "") {
            alert("Please select a Home Club.");
            return false;
        }

        if (awayClub === "") {
            alert("Please select an Away Club.");
            return false;
        }

        if (homeClub === awayClub) {
            alert("Home club and away club cannot be the same.");
            return false;
        }

<!--        // フォームのアクションURLを設定-->
        const leagueId = document.getElementById('league_id').value;
        const form = document.getElementById('game_form');
        form.action = `/gameResult/${leagueId}/${homeClub}/${awayClub}/${gameDate}`;
        return true; // フォームの送信を続行

    }
  </script>
</head>
<body>
<h1>クラブ選択</h1>

<form id="game_form" method="GET" onsubmit="return validateForm()">
  <input type="hidden" id="league_id" name="league_id" th:value="${leagueId}" /> <!-- 追加 -->

  <label for="home_club">Home Club:</label>
  <select id="home_club" name="home_club">
    <option value="" disabled selected>Select Home Club</option>
    <option th:each="club : ${clubs}" th:value="${club.id}" th:text="${club.name}"></option>
  </select>
  <br>

  <label for="away_club">Away Club:</label>
  <select id="away_club" name="away_club">
    <option value="" disabled selected>Select Away Club</option>
    <option th:each="club : ${clubs}" th:value="${club.id}" th:text="${club.name}"></option>
  </select>
  <br>

  <label for="gameDate">Date:</label>
  <input type="text" id="gameDate" name="gameDate" placeholder="YYYYMMDD" required>

  <button type="submit">登録画面へ</button>
</form>
</body>
</html>
