<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>リーグ一覧</title>
</head>
<body>
  <h2><a th:href="@{/countries}">国一覧</a></h2>
  <h1 th:text="${country.name} + ' リーグ一覧'">リーグ一覧</h1>
  <ul>
    <li th:each="league : ${leagues}">
      <span><a th:text="${league.name}" th:href="@{/clubs/{leagueId}(leagueId=${league.id})}"></a></span>
    </li>
  </ul>
  <form th:action="@{/registerLeague/{countryId}(countryId=${country.id})}" th:object="${league}" method="post">
    <input type="text" name="name" placeholder="リーグ名" th:field="*{name}">
    <button type="submit">登録</button>
  </form>

</body>
</html>